@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-bg: #202023;
    --dark-fg: rgba(255,255,255,0.92);
    --dark-mode: #FBD38D;
    --dark-menu-bg: #2d3748;
    --dark-btn-mobile-menu: rgba(255,255,255,0.55);
    --dark-ahref: rgb(112, 173, 243);

    --bgcolor: var(--dark-bg);
    --fgcolor: var(--dark-fg);
    --mode: var(--dark-mode);
    --menu-bg: var(--dark-menu-bg);
    --btn-mobile-menu: var(--dark-btn-mobile-menu);
    --ahref: var(--dark-ahref);
    
    --white-opacity: #6b6b6b;
    --white-036: #ffffff36;

    
    --light-bg:rgb(240, 231, 219);
    --light-fg: var(--dark-bg);
    --light-mode: #805AD5;
    --light-menu-bg: #ffffff;
    --light-btn-mobile-menu: var(--dark-bg);
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:'Poppins'; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
    font-size: 15px;
}
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
a {
    text-decoration: none;
    color: var(--fgcolor);
}
a:hover {
    text-decoration: underline;
}
.customized-body a:hover {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    color:transparent
}
.container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fgcolor);
}
.window {
    width: 768px;
    max-width: 768px;
    height: 100vh;
    background: var(--bgcolor);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
.left-btns {
    display: flex;
    gap: 10px;
}
.window .nav {
    box-sizing: border-box;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 20px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    z-index: 100;
}
.nav .logo-name {
    cursor: pointer;
}
.nav .logo-name ion-icon {
    --ionicon-stroke-width: 36px;
}
.nav .menu-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 300;
    font-size: 16px;
    transition: transform 1.2s ease, background-color 1.2s ease;
}
.nav .menu-btns a {
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav .switcher {
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: var(--mode);
    color: var(--bgcolor);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.7s ease, background-color 0.7s ease;
}
.nav .switcher:active {
    transform: translateY(-50px);
    opacity: 0;
}
.nav .mobile-menu {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color:var(--btn-mobile-menu);
    border: 1px solid rgba(247, 247, 247, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 10;
    display: none;
    cursor: pointer;
}
.window .customized-body {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: transform 0.7s ease, background-color 0.7s ease;
}
@media (max-width: 768px) { /* break point to mobile */
    .window {
        max-width: 100%;
    }
  }
@media (max-width: 680px) {
    .nav .mobile-menu {
        display: flex;
    }
    .nav .menu-btns {
        box-sizing: border-box;
        display: none;
        flex-direction: column;
        background-color: var(--menu-bg);
        border:1px solid var(--white-opacity);
        border-radius: 6px;
        position:absolute;
        width: auto;
        align-items: left;
        padding: 30px;
        margin-top: 60px;
        top: 0;
        right: 0;
        width: 250px;
    }
    .nav .mobile-menu:active .menu-btns {
        transform:translateY(-100px);
    }
    .nav .menu-btns.mobile {
        display: flex;
        right: 20px;
    }
}
.greeting-label {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white-036);
    padding: 3px;
    border-radius: 12px;
    text-align: center;
    margin-bottom:24px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
}

.about-developer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;;
    word-wrap: break-word;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.about-developer .developer {
    display: flex;
    flex-direction: column;
    gap: 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.about-developer .developer h2, .developer p {
    margin: 0;
    padding: 0;
}
.about-developer .picture {
    margin: 10px;
}
.about-developer .picture  img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
}
.about-work {
    display: flex;
    flex-direction: column;
}
.about-work p {
    text-indent: 1em;
    font-size: 14px;
}
.about-work {
    display: flex;
    flex-direction: column;
}
.about-work p {
    font-size: 14px;
}
.about-bio .info {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin:15px;
}
.about-bio p {
    margin:0;
}
.btn-redirect {
    text-align: center;
    margin: 20px;
}
.btn-redirect a {
    padding: 12px;
    background-color: var(--mode);
    color: var(--bgcolor);
    border-radius: 12px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.about-web {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.about-web a {
    display: flex;
    gap: 10px;
    padding: 6px;
    align-items: center;
    hyphens: 1em;
    font-size: 16px;
    color: var(--ahref);
}
.works {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.works .list-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px;
}
.works .list-work .i-work {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap:5px;
}
.title {
    font-size: 18px;
    font-weight: 800;
}
.works .list-work .i-work p {
    margin: 0;
    text-align: center;
    color: var(--fgcolor);
}
.works .list-work .i-work img {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.logo-name a {
    text-decoration: none;
}
.uses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.uses .list-uses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.uses .list-uses .i-use p {
    margin:0;
    text-align: center;
    color: var(--fgcolor);
}
.uses .list-uses .i-use {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}
.uses .list-uses .i-use img {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--white-opacity);
}
.works .list-work .i-work span {
    color: var(--mode);
    text-align: center;
    margin: 0;
}

.wallpapers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.wallpapers .list-wallpaper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.wallpapers .list-wallpaper .i-wallpaper {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}
.wallpapers .list-wallpaper .i-wallpaper img {
    border-radius: 12px;
}
.wallpapers .list-wallpaper .i-wallpaper ion-icon {
    font-size: 20px;
}
.wallpapers .list-wallpaper .i-wallpaper a {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: var(--dark-fg);
    background-color: var(--ahref);
    padding: 6px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}